*{
    margin:0;
    padding:0;
    border:0;
}
#background {
    display: flex;
    background: #F2EAE2;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.product {
    display:flex;
    width: 600px;
    height: 450px;
    align-items: stretch;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}
#product-img{
    background-image: url("Assets/images/image-product-desktop.jpg");
    background-size:cover;
    height:450px;
    width: 300px;
}
#product-txt{
    background-color: white;
    padding: 32px;
}
#perfume{
    color: #6C7289;
    width: 92px;
    font-size: 12px;
    font-family: montserrat;
    font-weight: 500;
    letter-spacing:5px;
}
#name{
    color: #1C232B;
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-top:20px;
}
#description{
    margin-top:24px;
    color:#6C7289;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
}
.price{
    display: flex;
    align-items: center;
}
#price-off{
    margin-top:29px;
    color:#3D8168;
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}
#price-full{
    margin-top:34px;
    color:#6C7289;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    margin-left: 19px;
}
#button{
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    background-color: #3D8168;
    color:white;
    border-radius:8px;
    width:236px;
    height:48px;
}
#button-txt{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}
#button-icon{
    margin-right: 11.61px;
    height:16px;
    width:14.39px;
}
#button:active{
    background-color: #1A4032;
}
#attribution {
    position:absolute;
    bottom:5px;
    width:100%;
    font-size: 11px; 
    text-align: center;
}
#attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 376px){
    .product {
        display:block;
        height: 611px;
        width: 343px;
        margin: 28px 16px;        
        border-radius: 10px;
        overflow: hidden;
        justify-content: center;
    }
    #product-img{
        background-image: url("Assets/images/image-product-mobile.jpg");
        background-size:cover;
        height: 240px;
        width: 343px;
    }
    #product-txt{
        padding: 24px;
    }
    #name{
        margin-top:12px;
    }
    #description{
        margin-top:16px;
    }
    .price{
        display: flex;
        align-items: left;
    }
    #price-off{
        margin-top:24px;
    }
    #price-full{
        margin-top:29px;
    }
    #button{
        margin-top:20px;
        width:295px;
        height:48px;
    }
}
